header {
    color: rgb(0, 200, 255);
    position: relative;
}

.container-header {
    display: flex;
    flex-flow: column nowrap;
}

.sitcky-menu {
    height: 4em;
    
    background-color: rgb(0, 35, 105); 
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.sitcky-menu-content {
    max-width: 1048px;
    margin: 0 auto;
    padding: 0 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.natlib {
    flex: 1;
    text-align: center;
}

.active-user{
    position: absolute;

    top: 2.9em;
    right: 1em;

    /* text-align: end; */
    font-weight: 300;
    font-size: smaller;
}

.social-icons {
    display: flex;
    text-align: start;
    column-gap: .8em;
}


.user-actions {
    display: flex;
    text-align: end;
    column-gap: .8em;
}

.navbar-container {
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.navbar-container-desk {
    display: none;
}


@media screen and (min-width: 872px){
    .navbar-container {
        display: none;
    }

    .navbar-container-desk {
        height: 3em;
        max-width: 1080px;
        
        margin: 0 auto;

        font-size: large;
        
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2em;
    }
    
    .navbar-container-desk>a {
        padding: 0.4em 1.2em;

    }
    .navbar-container-desk>a:hover {
        color: rgb(0 35 105);
        background-color: rgb(112 224 255);

        border-radius: .3em;
    }
}

/* I C O N S */
/* U S E R */
.user-log {
    text-align: center;
}

.user-sign {
    text-align: center;
}

/* .user-actions-container {
    display: flex;
    justify-content: space-between;
} */

/* N A V */
.navbar {
    grid-area: nav;
    height: 50px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 2rem
}

/* T I T L E */
.title {
    grid-area: title;
    text-align: center;

}
















