/* @import './base.css'; */
@import './header.css';
@import './books.css';
@import './footer.css'; 
@import './modal.css';
@import './movies.css';
@import './user.css';


* {
  font-family: 'Exo', sans-serif;
  font-family: 'Source Code Pro', monospace;
  padding: 0;
}



body {
  /* width: 1280px; */
  margin: 0 auto;
 /* 2rem in lg screen */
  
  box-sizing: border-box; 
  /* box-sizing: content-box; */
  
  font-weight: normal;
  
  color: rgb(228 228 228);
  background-color: rgb(0, 15, 44); 
}

main {
  max-width: 940px;
  margin: 0 auto;
}

a {
  color: rgb(112, 224, 255);
  text-decoration: none;
}
a:hover{
  color: rgb(0, 136, 255);
}

/* .action-btn {
  padding: .5em;

  border: none;
  border-radius: .5em;
}

input {
  padding: .5em;
  border: none;

  border-radius: .5em;
} */

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
