/* @import './base.css'; */

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem; /* 2rem in lg screen */
  
  box-sizing: border-box;

  font-weight: normal
}

header {
  color: red;
}

.social-container {
  padding: 0 25%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px
}

.social-container>div {
  background-color: aqua;
  text-align: center
}

h1 {
  text-align: center;
}

.user-actions-container {
  display: flex;
  justify-content: space-between;
}


/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
