.comming-soon {
    padding: 1em
}
.comming-soon>h2 {
    margin: 2em 0; 
    text-align: center;

    font-weight: 500;
    font-size: 2em  ;
}
.comming-soon>h3 {
    margin-top: 3em;
    text-align: center;
    font-size: x-large;
}